**/.gradle/**
**/.settings/**
**/bin/**
**/.project
**/target/**
**/.classpath
**/env.properties
**/.settings/**
**/.project
**/target/**
**/.classpath
**/pom.xml.versionsBackup
.project
pom.xml.versionsBackup
.class
*/.springBeans
**/*.class
/bin/
WebContent/META-INF/MANIFEST.MF
WebContent/WEB-INF/faces-config.xml
WebContent/WEB-INF/web.xml
.idea/
**/*.iml
*.iml
